---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>About</h4>

  <p>
  My research explores how disorder, complexity, and atomic-scale structure govern compositional stability, 
  vibrational behavior, and thermal transport in materials. I am broadly interested in developing predictive 
  frameworks for phonons in chemically complex systems, where conventional assumptions of periodicity and 
  simplicity no longer hold. By integrating first-principles calculations, high-performance computing, and 
  machine-learning approaches, I seek to elucidate how vibrational phenomena emerge in disordered materials 
  and how they can be deliberately engineered for energy applications, with the long-term goal of contributing 
  to a more sustainable and equitable future.<br><br>

  My doctoral work centers on the predictive modeling of high-entropy oxides for thermal energy conversion, 
  with a particular emphasis on phonons and vibrational spectra. I employ <it>ab initio</it> methods in conjunction 
  with scalable, high-throughput workflows to probe vibrational properties across expansive compositional 
  spaces. Increasingly, my research incorporates density-functional theory alongside machine learning 
  interatomic potentials (MLIPs)—particularly graph neural networks—to accelerate phonon calculations and enable the 
  study of systems that would otherwise be computationally prohibitive.<br><br>
  
  A recurring theme in my research is the tradeoff between physical interpretability and computational 
  efficiency. Within this context, I am particularly motivated by tackling fundamental questions such as: 
  How can vibrational modes be meaningfully defined in strongly disordered materials? 
  What information is lost when complexity is averaged out, and what new descriptors are required to capture 
  emergent thermal behavior? Likewise, how can AI models be designed to respect physical constraints while 
  fully leveraging the richness of large, heterogeneous datasets?<br><br>

  Notwithstanding the challenging nature, I regard these not as obstacles, but as opportunities to rethink 
  how we model materials at the atomistic level. Alongside these already way too broad questions, my work also 
  addresses more targeted methodological approaches to understanding phonons in disordered systems, including 
  phonon band unfolding, non-analytical corrections to dynamical matrices, and the virtual crystal approximation. 
  My research is inherently collaborative and interdisciplinary, and I actively engage with both experimentalists 
  and theorists through the Center for Nanoscale Science, a National Science Foundation—supported Materials 
  Research Science and Engineering Center (MRSEC), as well as other multi-institutional research efforts.<br><br>

  I am always happy to discuss research, cool ideas, or potential collaborations, and I welcome any 
  conversations that challenge me. Feel free to reach out to me! :)

</p> 
</div>



<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>
    All publications are also available on 
    <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
    <sup>‡</sup> indicates equal contribution.
  </p>

  {% for paper in site.data.publications.papers %}
    <div class="paper">
      <p class="title"><b>{{ paper.title }}</b></p>
      <p>{{ paper.authors }}</p>
      <p><i>{{ paper.venue }}</i></p>
      <div class="paper-buttons">
        {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
        {% endif %}

        {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
        {% endif %}

        {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
        {% endif %}

        {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
        {% endif %}

        {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}

        {% if paper.data %}
          <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
        {% endif %}

        {% if paper.news %}
          <a class="button" href="{{ paper.news }}" target="_blank">News</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<!-- ========== CONFERENCE TALKS ========== -->
<div class="docs-section" id="conference-talks"> 
  <h4>Conference Talks</h4> 
  <ul style="list-style-type: none; padding-left: 0;">
  {% for talk in site.data.conference_talks.talks %}
    <li>
      <b>{{ talk.title }}</b><br/>
      {{ talk.event }}, {{ talk.location }}, {{ talk.date }} ({{ talk.type }})
      {% if talk.slides %}
        <a class="button" href="{{ talk.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
      {% endif %}
      {% if talk.video %}
        <a class="button" href="{{ talk.video }}" target="_blank">Video</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>


<!-- ========== TEACHING ========== -->
<div class="docs-section" id="teaching">
  <h4>Teaching Experience</h4>

  {% for ta in site.data.teaching %}
  <div class="teaching-entry">
    <p><b>{{ ta.position }}</b></p>
    <p>{{ ta.institution }}, {{ ta.location }} | {{ ta.time }}</p>
    <ul>
      {% for item in ta.responsibilities %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <p>Full resume available <a href={{ "/assets/cv/cv_tara.pdf" | prepend: site.baseurl }} target="_blank">here</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== FUN ========== -->
<div class="docs-section" id="fun">
  <h4>Fun</h4>
I love playing the piano and exploring a wide range of music from the romantic masterpieces of Frédéric Chopin 
and Franz Liszt to the evocative contemporary works of Hans Zimmer, Ludovico Einaudi and Yann Tiersen. 
Occasionally, I enjoy composing minimalistic music pieces of my own, or covering modern songs that resonate 
with me.<br><br>

Traveling and learning about cultures is a source of constant inspiration for me. I enjoy wandering, 
uncovering local art, savoring regional cuisine, and find equal delight in absorbing the rhythms of daily 
life through photography. I also enjoy hiking, camping and skiing, in whatever way I can connect with nature.<br><br>

I have recently discovered a deep appreciation for woodworking, and find it both grounding and rewarding. 
Learning about CMU's TechSpark makerspace was a natural entry point, and I had the opportunity of being offered 
the tools and community to turn ideas into some cool tangible objects. Some of my recent projects include 
a <a href="{{ '/assets/misc/plant-stand.jpg' | prepend: site.baseurl }}" target="_blank">plant stand</a>, 
a minimalist <a href="{{ '/assets/misc/crate.jpg' | prepend: site.baseurl }}" target="_blank">wooden crate</a>, 
and a functional <a href="{{ '/assets/misc/folding-stool-1.JPG' | prepend: site.baseurl }}" target="_blank">folding stool</a> (<a href="{{ '/assets/misc/folding-stool-2.jpg' | prepend: site.baseurl }}" target="_blank">folded view</a>).<br><br>

Reading remains a cherished refuge of mine. I am drawn to fiction novels and philosophy, which together enrich 
my understanding of the world and the human experience. I am also on <a href="https://www.goodreads.com/user/show/122411744-tara-sabet" target="_blank">goodreads</a>!<br><br>

Feel free to take a loot at my short article about <it>learning</it> and <it>intellectual humility</it> <a href="https://medium.com/@extaraordinary/the-most-radical-thing-you-can-do-is-change-your-mind-9559c9bff252" target="_blank">Medium</a>.
</div> 

<div class="docs-section" id="template">
  <h4>Acknowledgement</h4>
  This website uses the designed template by Martin Saveski, which I forked from its GitHub repository available <a href="https://github.com/msaveski/www_personal" target="_blank">here</a>. <br/>
</div>  
